body {
    margin: 0;
    min-height: 100vh;  
    display: flex;
    justify-content: center;  
    align-items: center;      
    background: #1F2937;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    margin: 10px auto;
    width: 60%;
    padding: 10px;
}

h1 {
    color: white;
    text-align: left;
    margin-bottom: 8px;
}

#ran {
    color: #55F991;
}

p {
    margin-top: 8px;
    margin-bottom: 40px;
    color: #D5D4D8;
    text-align: left;
}

button {
    background: #10B981;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

hr {
    border: 0;               
    height: 2px;            
    background-color: #273549;   
}


#pass-display {
    margin-top: 20px;
    display: flex;
    justify-content: start; 
}

#pass1, #pass2 {
    color: #55F991;
    background: #273549;
    border-radius: 5px;
    width: 210px;
    height: 35px;
    margin: 10px 0; 
    margin-right: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#pass2 {
    margin-right: 0;
}
